@model BookStore.App.DTOs.ProviderDTO


<div class="form-group">
    <label asp-for="Address.CEP" class="control-label"></label>
    <input asp-for="Address.CEP" class="form-control" />
    <span asp-validation-for="Address.CEP" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address.Logradouro" class="control-label"></label>
    <input asp-for="Address.Logradouro" class="form-control" />
    <span asp-validation-for="Address.Logradouro" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address.Numero" class="control-label"></label>
    <input asp-for="Address.Numero" class="form-control" />
    <span asp-validation-for="Address.Numero" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address.Complemento" class="control-label"></label>
    <input asp-for="Address.Complemento" class="form-control" />
    <span asp-validation-for="Address.Complemento" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address.Bairro" class="control-label"></label>
    <input asp-for="Address.Bairro" class="form-control" />
    <span asp-validation-for="Address.Bairro" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address.Cidade" class="control-label"></label>
    <input asp-for="Address.Cidade" class="form-control" />
    <span asp-validation-for="Address.Cidade" class="text-danger"></span>
</div>
<div class="form-group">
    <label asp-for="Address.Estado" class="control-label"></label>
    <input asp-for="Address.Estado" class="form-control" />
    <span asp-validation-for="Address.Estado" class="text-danger"></span>
</div>
